.about {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background:
  linear-gradient(
      rgba(40,40,40,.45),
      rgba(40,40,40,.45)
      ),
      url("../images/aboutpage.jpg");
      font-family: 'PT Mono', monospace;
      overflow: scroll;
      overflow-x: hidden;
      background-repeat: no-repeat;
      background-size: 100% 100%;
}
.matt{
  font-size: 60px;
  border-bottom: 2px solid white;
  margin-bottom: 0px;
  margin-top: 60px;
}
.title{
  display: flex;
  justify-content: center;
  font-family: 'PT Mono', monospace;
  color: white;
}
.about-title{
  color: white;
  font-family: 'PT Mono', monospace;
  font-size: 50px;
  border-bottom: 2px solid white;
}
.skills-bar{
  margin-top: 45px;
}
.about-row{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.bio{
  position: relative;
  top: 15%;
  color: white;
  text-align: center;
  font-size: 18px;
}
.content {
    margin: auto;
    line-height: 2em;
    padding: 30px 0 30px;
}
.col {
    text-align: center;
}
#skill {
    list-style: none;
    padding-top: 30px;
    padding-right: 40px;
    text-align: center;
}
#skill li {
    margin-bottom: 70px;
    background: #000;
    height: 5px;
    border-radius: 3px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    width: 95%;
}
#skill li em {
    font-size: 18px;
    font-family: 'PT Mono', monospace;
    position: relative;
    top: -30px;
}
.expand {
    height: 1px;
    margin: 2px 0;
    background: #007d00;
    position: absolute;
    left: 55px;
    box-shadow: 0px 0px 10px 1px rgba(0,179,0,0.6);
}
.html5{
  height: 2px;
}
.photoshop{
  height: 2px;
}
.jquery{
  height: 2px;
}
.html5 {
    width: 70%;
    -moz-animation: html5 2s ease-out;
    -webkit-animation: html5 2s ease-out;
}
.css3 {
    width: 60%;
    -moz-animation: css3 2s ease-out;
    -webkit-animation: css3 2s ease-out;
}
.jquery {
    width: 50%;
    -moz-animation: jquery 2s ease-out;
    -webkit-animation: jquery 2s ease-out;
}
.photoshop {
    width: 10%;
    -moz-animation: photoshop 2s ease-out;
    -webkit-animation: photoshop 2s ease-out;
}
.javascript {
    width: 50%;
    -moz-animation: javascript 2s ease-out;
    -webkit-animation: javascript 2s ease-out;
}
@-moz-keyframes html5 {
    0% {
        width: 0px;
    }
    100% {
        width: 70%;
    };
}
@-moz-keyframes css3 {
    0% {
        width: 0px;
    }
    100% {
        width: 60%;
    };
}
@-moz-keyframes jquery {
    0% {
        width: 0px;
    }
    100% {
        width: 50%;
    };
}
@-moz-keyframes photoshop {
    0% {
        width: 0px;
    }
    100% {
        width: 10%;
    };
}
@-moz-keyframes javascript {
    0% {
        width: 0px;
    }
    100% {
        width: 50%;
    };
}
@-webkit-keyframes html5 {
    0% {
        width: 0px;
    }
    100% {
        width: 70%;
    };
}
@-webkit-keyframes css3 {
    0% {
        width: 0px;
    }
    100% {
        width: 60%;
    };
}
@-webkit-keyframes jquery {
    0% {
        width: 0px;
    }
    100% {
        width: 50%;
    };
}
@-webkit-keyframes photoshop {
    0% {
        width: 0px;
    }
    100% {
        width: 10%;
    };
}
@-webkit-keyframes javascript {
    0% {
        width: 0px;
    }
    100% {
        width: 50%;
    };
}
.testimonial-quote {
    font-size: 16px;

}
.nick-quote{
  width: 960px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
.testimonial-quote blockquote {
    /* Negate theme styles */
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    color: black;
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: italic;
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    text-shadow: 0 1px black;
    z-index: 600;
}
.testimonial-quote blockquote * {
    box-sizing: border-box;
}
.testimonial-quote blockquote p {
    color: white;
    line-height: 1.4 !important;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}
.testimonial-quote blockquote p:first-child:before {
    content: '\201C';
    color: black;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .8;
    position: absolute;
    top: -.7em;
    left: -.2em;
    text-shadow: none;
    z-index: -300;
}
.testimonial-quote .nick{
    background: url("../images/Nick.jpg");
    background-size: 90%;
    border: 3px solid white;
    border-radius: 50%;
    /*display: block;*/
    width: 150px;
    height: 150px;
    position: absolute;
    top: -.2em;
    left: 0;

}
.testimonial-quote cite {
    color: white;
    display: block;
    font-size: 1em;
}
.testimonial-quote cite span {
    color: white;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px black;
}
.testimonial-quote {
    position: relative;
}
.testimonial-quote .quote-container {
    padding-left: 160px;
}
.testimonial-quote.right .quote-container {
    padding-left: 0;
    padding-right: 160px;
}
.testimonial-quote.right img {
    left: auto;
    right: 0;
}
.testimonial-quote.right cite {
    text-align: right;
}
