<div class="container about">
  <div class="title">
    <h1 class="matt">About Me</h1>
  </div>
  <div class="row about-row">
    <div class="col-md-4 bio">
      <h2 class="about-title">Skills</h2>
      <div class="content">
        <div class="col">
          <ul id="skill">
            <li><span class="expand html5"></span><em>HTML 5</em></li>
            <li><span class="expand css3"></span><em>CSS 3</em></li>
            <li><span class="expand jquery"></span><em>jQuery</em></li>
            <li><span class="expand javascript"></span><em>Javascript</em></li>
            <li><span class="expand photoshop"></span><em>Photoshop</em></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 bio">
      <h2 class="about-title">Bio</h2>
      <div class="skills-bar">
        <p>I am a Jr. Developer located in the Seattle area. I received my general Associates Degree from Pierce College in 2013. After working manual labor jobs and ultimately suffering a physically debilitating knee injury, I decided to explore new career options and that’s when I found my true passion for coding. I attended a six-month program at Epicodus in Seattle where I immersed myself 40 hours per week learning many new skills including HTML, CSS, JavaScript, jQuery, C#, Angular git hub, pair programming and much more.</p>
        <p>After graduating from Epicodus I took part in an internship at Sqwad Sports Inc. based out of Portland, Oregon where I was tasked with styling and fixing functionality on the admin side of their web application. Aside from coding and technology, my other passions include sports, snowboarding, traveling and movies.</p>
        <p>I take pride in being a team-oriented, hardworking individual with great leadership ability and a knack for learning new things.</p>
      </div>
    </div>
  </div>
  <div class="nick-quote">
    <div class="testimonial-quote group">
      <div class="nick"></div>
      <div class="quote-container">
        <blockquote>
          <p>Matt showed excellent skills both technically and in communication while working on our platform. His ability to communicate with his teammates & upper management set him apart from any intern we've had in the past and current ones. With this mix of skills he was able to implement & finish a key backend admin system that is being used by all of our current clients. He will be an asset to any team he joins."</p>
        </blockquote>
        <cite><span>Nick Lawson</span><br>
          CEO<br>
          Sqwad Sports Inc.
        </cite>
      </div>
    </div>
  </div>
