<div class="container contact">
  <h1>Contact</h1>
  <h3>If you have any questions or need to hire a Junior Developer please get in contact.</h3>
  <h3>You can E-mail me at <a href="mailto:matthewcaswell253@gmail.com">matthewcaswell253@gmail.com</a> or call me: (253) 266-3091 </h3>
  <div class="contact-icons">
    <ul class="icon-list">
       <li> <a href="https://www.linkedin.com/in/matthew-caswell/"> <i  class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
       <li> <a href="https://github.com/mattcaswell253"> <i class="fa fa-github" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <h4>Click the icons to view my other profiles.</h4>
</div>
