.contact{
  background: url("../images/contactpage.jpg");
  height: 100vh;
  width: 100vw;
  background-size: 100% 111%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'PT Mono', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1{
  text-align: center;
  color: white;
  font-size: 8vh;
  position: relative;
  bottom: 15%;
  border-bottom: 1px solid white;
}
h3{
  color: white;
  font-family: 'PT Mono', monospace;
  position: relative;
  bottom: 10%;
}
h3 a{
  color: red;
}
h4{
  color: white;
  font-family: 'PT Mono', monospace;
}
.fa{
  font-size: 20vh;
  color: white;
}
.icon-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
}
.contact-icons{
  width: 40vw;
}
