.contact{
  background: url("../images/contactpage.jpg");
  height: 100%;
  width: 100%;
  background-size: 100% 111%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'PT Mono', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1{
  text-align: center;
  color: white;
  font-size: 60px;
  position: relative;
  top: 15px;
  border-bottom: 2px solid white;
}
h3{
  color: white;
  font-family: 'PT Mono', monospace;
  position: relative;
  bottom: 10%;
}
h3 a{
  color: red;
}
h4{
  color: white;
  font-family: 'PT Mono', monospace;
}
.fa{
  font-size: 175px;
  color: white;
}
.icon-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
}
.panel{
  background: transparent;
  border: none;
  text-align: center;
}
.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: 10px;
  width: 450px;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
  border-radius: 10px;
}
.comment-area{
  height: 150px;
  width: 450px;
  border-radius: 10px;
}
.contact-blurb{
  text-align: center;
}
button{
  width: 100px;
  border-radius: 10px;
}
