body {
  margin: 0;
  padding: 0;
}
.header {
  position: absolute;
  height: 44px;
  width: 100%;
  background-color: transparent;
  z-index: 4;
  color: white;
}
.fa-nav{
  font-size: 40px;
  margin-left: 15px;
  color: white;
}
.logo{
  position: absolute;
  right: 2%;
  top: 15px;
}
.side-nav {
  position: absolute;
  width: 100%;
  background-color: transparent;
  height: 100%;
  z-index: 3;
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: 15px;
}
 .side-nav ul li {
   padding: 20px 10px;
   border-bottom: 1px solid white;
   width: 40px;
   text-align: center;
 }
 .side-nav ul li:nth-child(4){
   border-bottom: none;
 }
 .side-nav ul li a {
   color: #fff;
   text-decoration: none;
 }
 .side-nav ul li i {
   color: white;
   font-size: 20px;
   text-align: center;
 }
 .main-content{
   padding-top: 44px;
   height: 100%;
 }
 @media screen and (min-width: 600px) {
   .side-nav {
     width: 80px;
   }
   .side-nav ul li {
     text-align: center;
     width: 55px;
   }
   .side-nav ul li span:nth-child(2) {
     display: none;
   }
   .side-nav ul li i{
     font-size: 30px;
     text-align: center;
   }
   .main-content {
     margin-left: 80px;
   }
 }
 @media screen and (min-width: 1000px) {
   .side-nav {
     width: 100px;
   }
   .side-nav ul li {
     text-align: center;
     width: 65px;
   }
   .side-nav ul li span:nth-child(2) {
     display: inline;
   }
   .side-nav ul li i {
     font-size: 30px;
     text-align: center;
   }
   .main-content {
     margin-left: 100px;
   }
 }
