.welcome{
  background-image: url("../images/homepage.jpg");
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  color: white;
  text-align: center;
  }
h1 {
  font-family: 'PT Mono', monospace;
  font-size: 6.5vh;
  border-bottom: 2px solid white;
  font-weight: lighter;
}
h3 {
  font-family: 'PT Mono', monospace;
  font-size: 5vh;
}
