.project{
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  background:
  linear-gradient(
      rgba(40,40,40,.45),
      rgba(40,40,40,.45)
      ),
      url("../images/projectpage1.jpg");
  overflow: scroll;
  overflow-x: hidden;
}

.title{
  display: flex;
  justify-content: center;
}
h1{
  color: white;
  position: relative;
  top: 50px;
  font-size: 8vh;
  border-bottom: 2px solid white;
  font-family: 'PT Mono', monospace;
}
.work-example1{
  /*position: relative;
  top: 50%;
  left: 60%;*/
  background: url("../images/Work-Example4.png");
  width: 40vw;
  height: 50vh;
  background-size: 100% 100%;
  border: 2px solid white;
}
.work-example2{
  /*position: relative;
  top: 50%;*/
  background: url("../images/Work-Example1.png");
  width: 40vw;
  height: 50vh;
  background-size: 100% 100%;
  border: 2px solid white;
}
.work-example3{
  position: relative;
  background: url("../images/Work-Example2.png");
  width: 40vw;
  height: 50vh;
  background-size: 100% 100%;
  border: 2px solid white;
}
  .work-example4{
    position: relative;
    background: url("../images/Work-Example3.png");
    width: 40vw;
    height: 50vh;
    background-size: 100% 100%;
    border: 2px solid white;
  }
  .work-example5{
    position: relative;
    background: url("../images/Work-Example5.png");
    width: 40vw;
    height: 50vh;
    background-size: 100% 100%;
    border: 2px solid white;
  }
  .work-example6{
    position: relative;
    background: url("../images/Work-Example6.png");
    width: 40vw;
    height: 50vh;
    background-size: 100% 100%;
    border: 2px solid white;
  }
  .work-example7{
    position: relative;

    background: url("../images/Work-Example7.png");
    width: 40vw;
    height: 50vh;
    background-size: 100% 100%;
    border: 2px solid white;
  }
  .work-example8{
    position: relative;

    background: url("../images/Work-Example8.png");
    width: 40vw;
    height: 50vh;
    background-size: 100% 100%;
    border: 2px solid white;
  }
.thumbnails{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 100px;
  margin-right: 10px;
}

.thumbnails2{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.thumbnails3{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.thumbnails4 {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 40vw;
    height: 50vh;
    /*position: relative;
    left: 19%;
    top: 20%;*/
    /*-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    cursor: pointer;
}
.card {
    position: relative;

    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: center;
        /*line-height: 200px;*/
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .card .back {
      position: relative;
        background: #222;
        color: #FFF;
        width: 40vw;
        height: 50vh;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}
