<div class="container project">
  <div class="title">
    <h1>Projects</h1>
  </div>
  <div class="thumbnails row">
    <label>
      <input type="checkbox" />
      <div class="card col-md-6">
        <div class="front work-example1"></div>
        <div class="back back1">
          <div class="login">
          <h2 class="card-title">Sqwad Sports Login Screen</h2>
          <ul>
            <li>AngularJs</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Firebase</li>
            <li>SCSS</li>
          </ul>
          </div>
        </div>
      </div>
    </label>
    <label>
      <input type="checkbox" />
      <div class="card col-md-6">
        <div class="front work-example2"></div>
        <div class="back back2">
          <div class="login">
          <h2 class="card-title">Sqwad Sports Game Center</h2>
          <ul>
            <li>AngularJs</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Firebase</li>
            <li>SCSS</li>
          </ul>
          </div>
        </div>
      </div>
    </label>
  </div>
  <div class="thumbnails2 row">
    <label>
      <input type="checkbox" />
      <div class="card col-md-6">
        <div class="front work-example3"></div>
        <div class="back back3">
          <div class="login">
          <h2 class="card-title">Sqwad Sports Game Center</h2>
          <ul>
            <li>AngularJs</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Firebase</li>
            <li>SCSS</li>
          </ul>
          </div>
        </div>
      </div>
    </label>
    <label>
      <input type="checkbox" />
      <div class="card col-md-6">
        <div class="front work-example4"></div>
        <div class="back back4">
          <div class="login">
          <h2 class="card-title">Sqwad Sports Rewards</h2>
          <ul>
            <li>AngularJs</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Firebase</li>
            <li>Coupon API</li>
            <li>SCSS</li>
          </ul>
          </div>
        </div>
      </div>
    </label>
  </div>
  <div class="thumbnails3 row">
    <label>
      <input type="checkbox" />
      <div class="card col-md-6">
        <div class="front work-example5"></div>
        <div class="back back5">
          <div class="login">
          <h2 class="card-title">Epimon</h2>
          <ul>
            <li>C#</li>
            <li>SQL</li>
            <li>Nancy</li>
            <li>Kestrel</li>
            <li>CSS</li>
          </ul>
          <h3>Click <a href="https://github.com/mattcaswell253/Epimon-Battle-Royal"><em>here</em></a> to view repository.</h3>
          </div>
        </div>
      </div>
    </label>
    <label>
      <input type="checkbox" />
      <div class="card col-md-6">
        <div class="front work-example6"></div>
        <div class="back back6">
          <div class="login">
          <h2 class="card-title">Epimon</h2>
          <ul>
            <li>C#</li>
            <li>SQL</li>
            <li>Nancy</li>
            <li>Kestrel</li>
            <li>CSS</li>
          </ul>
          <h3>Click <a href="https://github.com/mattcaswell253/Epimon-Battle-Royal"><em>here</em></a> to view repository.</h3>
          </div>
        </div>
      </div>
    </label>
  </div>
  <div class="thumbnails4 row">
    <label>
      <input type="checkbox" />
      <div class="card col-md-6">
        <div class="front work-example7"></div>
        <div class="back back7">
          <div class="login">
          <h2 class="card-title">Seattle Pick Up Games</h2>
          <ul>
            <li>Angular 2</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Google Maps API</li>
            <li>CSS</li>
          </ul>
          <h3>Click <a href="https://github.com/mattcaswell253/pick-up-games"><em>here</em></a> to view repository.</h3>
          </div>
        </div>
      </div>
    </label>
    <label>
      <input type="checkbox" />
      <div class="card col-md-6">
        <div class="front work-example8"></div>
        <div class="back back8">
          <div class="login">
          <h2 class="card-title">Seattle Pick Up Games</h2>
          <ul>
            <li>Angular 2</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Google Maps API</li>
            <li>CSS</li>
          </ul>
          <h3>Click <a href="https://github.com/mattcaswell253/pick-up-games"><em>here</em></a> to view repository.</h3>
          </div>
        </div>
      </div>
    </label>
  </div>
</div>
