.project{
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  background:
  linear-gradient(
    rgba(40,40,40,.45),
    rgba(40,40,40,.45)
    ),
    url("../images/projectpage1.jpg");
    overflow: scroll;
    overflow-x: hidden;
  }
  .title{
    display: flex;
    justify-content: center;
  }
  .card-title{
    font-size: 5vh;
    color: white;
    border-bottom: 2px solid white;
  }
  .click-here{
    color: white;
    font-size: 3vh;
  }
  h1{
    color: white;
    position: relative;
    top: 50px;
    font-size: 8vh;
    border-bottom: 2px solid white;
    font-family: 'PT Mono', monospace;
  }
  .work-example-one{
    background: url("../images/four.png");
    background-size: 100% 100%;
    border: 2px solid white;
  }
  .work-example-two{
    background: url("../images/one.png");
    background-size: 100% 100%;
    border: 2px solid white;
  }
  .work-example-three{
    position: relative;
    background: url("../images/two.png");
    background-size: 100% 100%;
    border: 2px solid white;
  }
  .work-example-four{
    position: relative;
    background: url("../images/three.png");
    background-size: 100% 100%;
    border: 2px solid white;
  }
  .work-example-five{
    position: relative;
    background: url("../images/five.png");
    background-size: 100% 100%;
    border: 2px solid white;
  }
  .work-example-six{
    position: relative;
    background: url("../images/six.png");
    background-size: 100% 100%;
    border: 2px solid white;
  }
  .work-example-seven{
    position: relative;
    background: url("../images/seven.png");
    background-size: 100% 100%;
    border: 2px solid white;
  }
  .work-example-eight{
    position: relative;
    background: url("../images/eight.png");
    background-size: 100% 100%;
    border: 2px solid white;
  }
  .thumbnails{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 100px;
    margin-right: 10px;
  }
  .thumbnails2{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
  }
  .thumbnails3{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
  }
  .thumbnails4 {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
  }
  label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 40%;
    height: 20%;
    cursor: pointer;
  }
  .card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
  }
  .card div {
    position: absolute;
    /*width: 100%;
    height: 100%;*/
    width: 40vw;
    height: 50vh;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
  }

  .card .back {
    position: relative;
    width: 40vw;
    height: 50vh;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  .back1{
    background:
    linear-gradient(
      rgba(40,40,40,.90),
      rgba(40,40,40,.90)
      ),
      url("../images/four.png");
      background-size: 100% 100%;
      border: 2px solid white;
  }
  .back2{
    background:
    linear-gradient(
      rgba(40,40,40,.90),
      rgba(40,40,40,.90)
      ),
      url("../images/one.png");
      background-size: 100% 100%;
      border: 2px solid white;
  }
  .back3{
    background:
    linear-gradient(
      rgba(40,40,40,.90),
      rgba(40,40,40,.90)
      ),
      url("../images/two.png");
      background-size: 100% 100%;
      border: 2px solid white;
  }
  .back4{
    background:
    linear-gradient(
      rgba(40,40,40,.90),
      rgba(40,40,40,.90)
      ),
      url("../images/three.png");
      background-size: 100% 100%;
      border: 2px solid white;
  }
  .back5{
    background:
    linear-gradient(
      rgba(40,40,40,.90),
      rgba(40,40,40,.90)
      ),
      url("../images/five.png");
      background-size: 100% 100%;
      border: 2px solid white;
  }
  .back6{
    background:
    linear-gradient(
      rgba(40,40,40,.90),
      rgba(40,40,40,.90)
      ),
      url("../images/six.png");
      background-size: 100% 100%;
      border: 2px solid white;
  }
  .back7{
    background:
    linear-gradient(
      rgba(40,40,40,.90),
      rgba(40,40,40,.90)
      ),
      url("../images/seven.png");
      background-size: 100% 100%;
      border: 2px solid white;
  }
  .back8{
    background:
    linear-gradient(
      rgba(40,40,40,.90),
      rgba(40,40,40,.90)
      ),
      url("../images/eight.png");
      background-size: 100% 100%;
      border: 2px solid white;
  }
  .login{
    font-family: 'PT Mono', monospace;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 20%;
  }
  .login ul{
    /*list-style: none;*/
    font-size: 4vh;
    margin-top: 15px;
  }

  label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 20px 20px 20px rgba(50,50,50,.2);
  }
  input {
    display: none;
  }
  :checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
  }
  label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 20px 20px 20px rgba(255,255,255,.2);
  }
