<div class="container project">
  <div class="title">
  <h1>Projects</h1>
  </div>
<div class="thumbnails row">
<label>
    <input type="checkbox" />
    <div class="card col-md-6">
      <div class="front work-example1"></div>
      <div class="back"></div>
    </div>
  </label>
<label>
    <input type="checkbox" />
    <div class="card col-md-6">
      <div class="front work-example2"></div>
      <div class="back"></div>
    </div>
</label>
</div>

<div class="thumbnails2 row">
  <label>
      <input type="checkbox" />
      <div class="card col-md-6">
        <div class="front work-example3"></div>
        <div class="back"></div>
      </div>
    </label>



  <label>
      <input type="checkbox" />
      <div class="card col-md-6">
        <div class="front work-example4"></div>
        <div class="back"></div>
      </div>
  </label>
  </div>


<div class="thumbnails3 row">
  <label>
      <input type="checkbox" />
      <div class="card col-md-6">
        <div class="front work-example5"></div>
        <div class="back"></div>
      </div>
    </label>
  <label>
      <input type="checkbox" />
      <div class="card col-md-6">
        <div class="front work-example6"></div>
        <div class="back"></div>
      </div>
  </label>
</div>
<div class="thumbnails4 row">
  <label>
      <input type="checkbox" />
      <div class="card col-md-6">
        <div class="front work-example7"></div>
        <div class="back"></div>
      </div>
    </label>
  <label>
      <input type="checkbox" />
      <div class="card col-md-6">
        <div class="front work-example8"></div>
        <div class="back"></div>
      </div>
  </label>
</div>
</div>
